body {
	padding-top: 50px;
  background: -webkit-linear-gradient(top, #2771d1 0%, #47b7c1 100%) fixed;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2771d1 0%, #47b7c1 100%) fixed;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

Clouds {
  background: -webkit-linear-gradient(top, #cedce7 0%, #596a72 100%) fixed;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cedce7 0%, #596a72 100%) fixed;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#temp {
	font-family: 'Comfortaa';
	font-size: 65px;
}

#title {
	font-family: 'Comfortaa';
}
#icon {
	position:relative;
	top:-30px;
}
#descrip {
  position:relative;
  right:50px;
}
#switch {
	margin-bottom: 30px;
}
table {
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.4);
 }
.tbl-content{
  height:75px;
  overflow-x:auto;
  margin-top: 0px;
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}